*{
	margin: 0px;
	padding: 0px;
	outline: 1px dotted red;
}

.wrapper{
	width: 970px;
	min-height: 100px;
}

.header{
	width: 100%;
	min-height: 100px;
	background-color: gray;
}
.body{
	width: 100%;
	min-height: 200px;
	background-color: black;
}