*{
	margin: 0px;
	padding: 0px;
	outline: 1px dotted red;
}

div.wrapper{
	width: 970px;
	min-height: 100px;
}

	div.header{
		width: 100%;
		min-height: 100px;
		background-color: gray;
}
	div.body{
		width: 100%;
		min-height: 200px;
		background-color: black;
	}
		div.left_content{
			width: 35%;
			min-height: 100px;
			background-color: blue;
			display: inline-block;
			margin-left: 20px;
			margin-top: 15px;
		}
		div.right_content{
			width: 59%;
			min-height: 100px;
			background-color: yellow;
			display: inline-block;
			margin-left: 15px;
			margin-top: 15px;
		}
		div.small_content1{
			width: 22.5%;
			min-height: 100px;
			background-color: yellow;
			display: inline-block;
			margin-left: 20px;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		div.small_content2{
			width: 22.5%;
			min-height: 100px;
			background-color: yellow;
			display: inline-block;
			margin-left: 15px;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		div.small_content3{
			width: 22.5%;
			min-height: 100px;
			background-color: yellow;
			display: inline-block;
			margin-left: 15px;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		div.small_content4{
			width: 22.5%;
			min-height: 100px;
			background-color: yellow;
			display: inline-block;
			margin-left: 15px;
			margin-top: 15px;
			margin-bottom: 15px;
		}
